{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default value
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}

</head>
<body class="min-h-screen bg-blue-500 text-white font-serif leading-normal tracking-normal">
    <nav class="bg-blue-700 p-4 shadow-md">
        /this is our nav bar
    </nav>

    <main class="p-6">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html> 